@media only screen and (min-width: 769px) and (max-width: 10000px) {
	#mobile_sec .menumobile { display: block!important; }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

	header { width: 100%; }
	header .Center { width: 100%; padding: 0px 2%;  }
	header .site-logo { padding: 18px 0 0 1px; }
	header.smaller .site-logo { padding: 11px 0 0; }

	.Navigation { margin-right: 0px; }
	.Navigation li a { padding: 30px 36px; }
	header.smaller .Navigation li a { padding: 16px 36px; }


	.Banner_sec { width: 100%; height: 524px; }
	.Banner_sec .Center {width: 100%; padding: 0px 2%; }
	.Banner_sec .bannerside { top: 144px; }
	.Banner_sec .leftside h3 { font-size: 32px; }
	.Banner_sec .rightside { width: 66%; }
	.Banner_sec .rightside .Slider { width: 100%; }
	.Banner_sec .rightside .Slider .text { padding: 25px 10px 21px 10px; }
	.Banner_sec .rightside .Slider .text .Icon { width: 45%; }
	.Banner_sec .rightside .Slider .text .Lorem { width: 40%; }
	.Banner_sec .rightside .Shadow { width: 105%; }
	.Banner_sec .rightside .prevBtn { top: 160px; }
	.Banner_sec .rightside .nextBtn { top: 160px; }

	#Container { width: 100%; }

	.About_sec { width: 100%; padding: 70px 0px; }
	.About_sec .Center { width: 100%; padding: 0px 2%; }
	.About_sec p { font-size: 13px; }
	.About_sec .Tabside { padding: 50px 0; }
	.About_sec .Tabside .Description { margin-top: 0px; width: 100%%; }

	.Contact_sec { width: 100%; }
	.Contact_sec .Center { width: 100%; padding: 70px 2%;}

	.Contact_sec .Map { width: 100%;}
	.Contact_sec .Map img { height: 300px; width: 100%; }

	footer { width: 100%; }
	footer .Cntr { width: 100%; padding: 20px 2%; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	header { width: 100%; height: 87px; }
	header .Center { width: 100%; padding: 0px 2%; }
	header .site-logo { padding: 27px 0 0 1px;  position: relative; z-index: 1; }
	header .site-logo h1 { line-height: 33px; }
	header.smaller .Navigation li a { padding: 16px 20px; }

	.Navigation {  margin-right: 0px; }
	.Navigation li a { padding: 30px 20px; }

	.Banner_sec { width: 100%; height: 464px; }
	.Banner_sec .Center {width: 100%; padding: 0px 2%; }
	.Banner_sec .bannerside { top: 144px; }
	.Banner_sec .leftside { padding: 0px; width: 34%; }
	.Banner_sec .leftside h3 { font-size: 30px; }
	.Banner_sec .leftside p { padding: 10px  0px; font-size: 14px; line-height: 18px; }
	.Banner_sec .rightside { width: 64%;}
	.Banner_sec .rightside .Slider { width: 100%;}
	.Banner_sec .rightside .Slider .text { padding: 25px 10px 21px 10px; }
	.Banner_sec .rightside .Slider .text .Icon { width: 46%; }
	.Banner_sec .rightside .Slider .text li { padding: 0px 10px;}
	.Banner_sec .rightside .Slider .text .Lorem { width: 50%; }
	.Banner_sec .rightside .Slider .text .Lorem p { font-size: 16px; }
	.Banner_sec .rightside .Shadow { width: 106.5%; left: -21px; }
	.Banner_sec .rightside .prevBtn { top: 100px; left: 10px; }
	.Banner_sec .rightside .nextBtn { top: 100px; right: 10px; }

	#Container { width: 100%; }

	.About_sec { width: 100%; padding: 70px 0px 30px 0px; }
	.About_sec .Center { width: 100%; padding: 0px 2%; }
	.About_sec h2 { font-size: 40px; line-height: 40px; }
	.About_sec p { padding: 15px 0px; font-size: 13px; }
	.About_sec .Tabside { padding: 50px 0 0px 0; }
	.About_sec .Tabside .Description { margin-top: 0px; width: 100%; }
	.About_sec .Tabside .Description p { padding: 10px 0px; }
	.About_sec .Tabside .TabImage { width: 45.63%; }
	.About_sec .Tabside .TabImage .img1 { left: 0px; background-position: -40px 203px; }
	.About_sec .Tabside .TabImage .img1 img { width: 95%; }

	.About_sec .Tabside .TabImage .img2 { left: 15px; height: auto; background-position: -50px 132px;  }
	.About_sec .Tabside .TabImage .img2 img { width: 90%; height: auto; }

	.Contact_sec { width: 100%; }
	.Contact_sec .Center { width: 100%; padding: 70px 2% 30px 2%; }
	.Contact_sec h2 { font-size: 40px; line-height: 40px; }
	.Contact_sec p { padding: 15px 0px; font-size: 13px; }

	.Contact_sec .Map { width: 100%;}
	.Contact_sec .Map img { height: 250px; width: 100%; }

	footer { width: 100%; }
	footer .Cntr { width: 100%; padding: 20px 2%; }


}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	header { width: 100%; position: absolute; height: 57px;}
	header .Center { width: 100%;  }
	header .site-logo { padding: 10px 0% 0px 3%; position: relative; z-index: 1; }
	header .site-logo h1 { margin: 0px; line-height: 36px; }
	header.smaller { height: 55px;}
	header.smaller .site-logo { padding: 10px 0% 0px 3%; }
	header.smaller .site-logo h1 a { font-size: 36px; }

	#mobile_sec { position: fixed; width: 100%; }
	#mobile_sec .mobile { display: block; position: relative; float: right;}
	#mobile_sec .menumobile { display: none; width: 100%; position: absolute; top: 55px; right: 0%; background: rgba(0, 0, 0, 0.5);  }
	#mobile_sec .menumobile .Navigation { width: 100%; float: none; }
	#mobile_sec .menumobile .Navigation ul { float: none;}
	#mobile_sec .menumobile .Navigation li { float: none; width: 100%; border-bottom: solid 1px #365374; }
	#mobile_sec .menumobile .Navigation li a { padding: 10px 21px; background: none; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li:last-child { border-bottom: none; }


	.Banner_sec { width: 100%; height: 620px; }
	.Banner_sec .Center {width: 100%; padding: 0px 3%; }
	.Banner_sec .bannerside { top: 144px; }
	.Banner_sec .leftside { padding: 0px 0px 20px 0px; width: 100%; float: none; }
	.Banner_sec .rightside { width: 99%;}
	.Banner_sec .rightside .Slider { width: 100%;}
	.Banner_sec .rightside .Slider .text { padding: 10px 10px; }
	.Banner_sec .rightside .Slider .text .Icon { width: 48%; }
	.Banner_sec .rightside .Slider .text li { padding: 0px 10px;}
	.Banner_sec .rightside .Slider .text .Lorem { width: 50%; }
	.Banner_sec .rightside .Slider .text .Lorem p { font-size: 14px; }
	.Banner_sec .rightside .Shadow { width: 105.5%; left: -16px; }
	.Banner_sec .rightside .prevBtn { top: 100px; left: 10px; }
	.Banner_sec .rightside .nextBtn { top: 100px; right: 10px; }
	.Banner_sec .rightside #slider li img { height: 280px; width: 100%;}

	.bgcolor { height: 50px; }

	#Container { width: 100%; }

	.About_sec { width: 100%; padding: 120px 0px 50px; }
	.About_sec .Center { width: 100%; padding: 0px 3%; }
	.About_sec h2 { font-size: 30px; line-height: 30px; }
	.About_sec p { padding: 15px 0px; font-size: 13px; }
	.About_sec .Tabside { padding: 30px 0 0px 0; }
	.About_sec .Tabside ul { padding-bottom: 25px;}
	.About_sec .Tabside li a { font-size: 14px; padding: 14px 30px; }
	.About_sec .Tabside .TabImage { width: 100%; float: none; padding-bottom: 35px; text-align: center;}
	.About_sec .Tabside .TabImage .img1 { left: 0px; position: relative; }
	.About_sec .Tabside .TabImage .img1 img { margin: auto;}
	.About_sec .Tabside .TabImage .img2 { left: 25px;  }
	.About_sec .Tabside .TabImage .img2 img { width: 100%; height: auto; }
	.About_sec .Tabside .Description { margin-top: 0px; width: 100%; }
	.About_sec .Tabside .Description p { padding: 10px 0px; text-align: justify; }

	.Contact_sec { width: 100%; }
	.Contact_sec .Center { width: 100%; padding: 80px 3%;}
	.Contact_sec h2 { font-size: 30px; line-height: 30px; }
	.Contact_sec p { padding: 15px 0px; font-size: 13px; }

	.Contact_sec .Map { width: 100%;}
	.Contact_sec .Map img { height: 200px; width: 100%; }

	footer { width: 100%; }
	footer .Cntr { width: 100%; padding: 10px 3%; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


	header { width: 100%; position: absolute; height: 57px; }
	header .Center { width: 100%;}
	header .site-logo { padding: 10px 0% 0px 3%; position: relative; z-index: 1; }
	header .site-logo h1 { margin: 0px; line-height: 36px; }
	header.smaller { height: 55px;}
	header.smaller .site-logo { padding: 10px 0% 0px 3%; }
	header.smaller .site-logo h1 a { font-size: 36px; }

	#mobile_sec { position: fixed; width: 100%;}
	#mobile_sec .mobile { display: block; position: relative; float: right; }
	#mobile_sec .menumobile { display: none; width: 100%; position: absolute; top: 55px; right: 0%; background: rgba(0, 0, 0, 0.5);  }
	#mobile_sec .menumobile .Navigation { width: 100%; float: none; }
	#mobile_sec .menumobile .Navigation ul { float: none;}
	#mobile_sec .menumobile .Navigation li { float: none; width: 100%; border-bottom: solid 1px #365374; }
	#mobile_sec .menumobile .Navigation li a { padding: 10px; background: none; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li a:hover, #mobile_sec .menumobile .Navigation li a.active { background: #00aa00; border-bottom: none; }
	#mobile_sec .menumobile .Navigation li:last-child { border-bottom: none; }


	.Banner_sec { width: 100%; height: 556px; }
	.Banner_sec .Center {width: 100%; padding: 0px 3%; }
	.Banner_sec .bannerside { top: 90px; }
	.Banner_sec .leftside { padding: 0px 0px 10px 0px; width: 100%; float: none; }
	.Banner_sec .leftside h3 { font-size: 30px; }
	.Banner_sec .leftside p { font-size: 14px; line-height: 18px; padding: 10px 0px; }
	.Banner_sec .leftside a { font-size: 13px; }
	.Banner_sec .rightside { width: 98%;}
	.Banner_sec .rightside .Slider { width: 99%; text-align: center; }
	.Banner_sec .rightside .Slider .text { padding: 10px 10px; }
	.Banner_sec .rightside .Slider .text .Icon { width: 100%; }
	.Banner_sec .rightside .Slider .text .Icon li { float: none!important; display: inline-block; padding: 0px 10px;}
	.Banner_sec .rightside .Slider .text .Lorem { width: 100%;  }
	.Banner_sec .rightside .Slider .text .Lorem p { font-size: 13px; text-align: initial;}
	.Banner_sec .rightside .Slider .text .Lorem p span { display: inline-block; float: right; }
	.Banner_sec .rightside .Shadow { width: 105.5%; left: -16px; }
	.Banner_sec .rightside .prevBtn { top: 100px; left: 10px; }
	.Banner_sec .rightside .nextBtn { top: 100px; right: 10px; }
	.Banner_sec .rightside #slider li img { height: 290px; width: 100%;}


	.bgcolor { height: 50px; }

	#Container { width: 100%; }

	.About_sec,
	.Services_sec,
	.Pricing_sec {
		width: 100%; padding: 60px 0px 30px;
	}
	.About_sec .Center { width: 100%; padding: 70px 3%; }
	.About_sec h2 { font-size: 30px; line-height: 30px; }
	.About_sec p { padding: 15px 0px; font-size: 13px; }
	.About_sec .Tabside { padding: 30px 0 0px 0; }
	.About_sec .Tabside ul { padding-bottom: 25px;}
	.About_sec .Tabside li a { font-size: 13px; padding: 14px; }
	.About_sec .Tabside .TabImage { width: 100%; float: none; padding-bottom: 25px; text-align: center;}
	.About_sec .Tabside .TabImage .img1 { left: 0px; position: relative; height: 244px; background: none;background-size: 100%; }
	.About_sec .Tabside .TabImage .img1 img { margin: auto;}
	.About_sec .Tabside .TabImage .img2 { left: 20px;  background: none; background-size: 100%; }
	.About_sec .Tabside .TabImage .img2 img { width: 94%; height: auto; }
	.About_sec .Tabside .Description { margin-top: 0px; width: 100%; }
	.About_sec .Tabside .Description p { padding: 10px 0px; text-align: justify; }

	.Contact_sec { width: 100%; }
	.Contact_sec .Center { width: 100%; padding: 60px 3% 30px;}
	.Contact_sec h2 { font-size: 30px; line-height: 30px; }
	.Contact_sec p { padding: 15px 0px; font-size: 13px; }

	.Contact_sec .Map { width: 100%;}
	.Contact_sec .Map img { height: 200px; width: 100%; }

	footer { width: 100%; }
	footer .Cntr { width: 100%; padding: 10px 3%; }
}

@media only screen and (max-width: 1199px) {

	header,
	.Navigation li,
	.Navigation li:hover span,
	.Navigation li.active span {
		height: 87px; }
	header.smaller .Navigation li:hover span,
	header.smaller .Navigation li.active span {
		height: 60px;
	}
}
@media only screen and (max-width: 767px) {
	header {
		height: 55px;
		position: fixed;
	}
	.Navigation li {
		height: 45px;
	}
	header .site-logo {
		padding-top: 8px;
	}
	.Navigation li:hover span, .Navigation li.active span {
		height: 45px;
	}
	.Navigation li span {
		border-bottom: none;
		background: none;
	}
	#mobile_sec .menumobile .Navigation li:hover,
	#mobile_sec .menumobile .Navigation li.active {
		background: #00b008 none repeat scroll 0% 0%;
		border-bottom: medium none;
	}
	header.smaller .Navigation li {
		height: 45px;
	}
	.Banner_sec .leftside a {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
