h2 { font-family: 'Oswald', sans-serif; color: #000 }
h3 { font-family: 'Open Sans', sans-serif; color: #000 }
a { color: #3A3; }
html, body, button, input, select, textarea { font-family: Arial; font-size: 12px; color: #8c806e; }
li { font-size: 13px; margin: 5px 0px 10px 0px; }

.hide { display: none;}

.clear { clear: both; height: 0px; overflow: hidden; }

.text-tech-green { color: #00aa00; }

/* <<< Header >>> */
header { width: 100%; position: fixed; top: 0px; left: 0px; height: 105px; background: rgba(0, 0, 0, 0.5); z-index: 9; }
header .Center { max-width: 1100px; margin: auto; }
header .site-logo { padding: 30px 0px 0px 0px; width: 220px; float: left; transition: all 0.3s;  }
header .site-logo h1 { margin: 0px; }
header .site-logo h1 a { font-size: 36px; font-family: 'Open Sans', sans-serif; font-weight: 800; text-decoration: none; text-transform: uppercase; text-shadow: rgb(3, 3, 3) 0px 2px 5px; transition: all 0.7s ease;  }
header.smaller { padding: 0px 0px 0px 0px; height: 60px; transition: all 0.3s; background: rgba(0, 0, 0, 0.75); }
header.smaller .site-logo {padding: 13px 0px 0px 0px; }
header.smaller .site-logo h1 { line-height: 30px; }
header.smaller .site-logo h1 a { font-size: 30px;  }

/* <<< Navigation >>> */
.Navigation { float: right; width: 68.18%; margin-right: 11px; }
.Navigation ul { list-style: none; margin: 0px; float: right; }
.Navigation li { float: left; padding: 0px;  margin: 0px; height: 105px; position: relative; transition: all 0.3s ease; }
.Navigation li a { padding: 42px 41px 36px 41px; font-size: 16px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none; display: block; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.Navigation li span {
	border-bottom: solid 5px #00aa00;
	background: rgba(56,87,122,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,87,122,1)), color-stop(0%, rgba(56,87,122,1)), color-stop(0%, rgba(56,87,122,1)), color-stop(100%, rgba(44,68,94,1)));
	background: linear-gradient(to bottom, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(56,87,122,1) 0%, rgba(44,68,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38577a', endColorstr='#2c445e', GradientType=0 );
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
	transition: all 0.5s ease;
}
.Navigation li:hover span, .Navigation li.active span {
	opacity: 1;
}

header.smaller .Navigation li a { padding: 16px 41px; }
header.smaller .Navigation li { height: 60px; }

.mobile { display: none;  }
.mobile .fa { padding: 12px 14px; font-size: 31px; width: 55px; height: 55px; color: #fff; cursor: pointer; background: #00b008; }
.mobile .fa:hover { background: #10c019; }
.mobile.closed .fa-bars { display: none; }
.mobile .fa-times { padding: 11px 15px; width: 55px; height: 55px; display: none; font-size: 31px; }
.mobile.closed .fa-times { display: block; }

/* <<< Banner Section >>> */
.Banner_sec { width: 100%; background: url(/img/Banner-bg.jpg) top center no-repeat; height: 687px; position: relative; background-size: cover; }
.Banner_sec .bannerside { width: 100%; position: absolute; top: 180px; left: 0px; }
.Banner_sec .Center { max-width: 1100px; margin: auto; }
.Banner_sec .leftside { padding: 35px 0px 0px 0px; width: 28.90%; float: left; }
.Banner_sec .leftside h3 { font-size: 36px; font-family: 'Open Sans', sans-serif; font-weight: 800; text-transform: uppercase; margin: 0px; line-height: 34px;}
.Banner_sec .leftside h3 span { font-family: 'Open Sans', sans-serif; font-weight: 600; display: block; }
.Banner_sec .leftside p { padding: 16px 0px 26px 0px; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-style: italic; margin: 0px; word-spacing: 2px; line-height: 22px; }
.Banner_sec .leftside a { padding: 11px 16px; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: uppercase; text-decoration: none; display: inline-block; border: solid 1px #b0bdc8; background: rgba(64, 93, 118, 0.8); transition: all 0.3s ease; }
.Banner_sec .leftside a:hover { background: #00aa00; border: solid 1px #00aa00; }
.Banner_sec .rightside { width: 68.36%; float: right; position: relative; }
.Banner_sec .rightside .bx-wrapper { position: relative; z-index: 1; }
.Banner_sec .rightside ul { list-style: none; margin: 0px; }
.Banner_sec .rightside li { padding: 0px; margin: 0; float: none!important; }
.Banner_sec .rightside #slider { width: 100%; float: right;  position: relative; z-index: 1; }
.Banner_sec .rightside .Slider .text { padding: 25px 47px 21px 30px; position: absolute; bottom: 0px; left: 0px; width: 100%; background: rgba(0, 0, 0, 0.7); }
.Banner_sec .rightside .Slider .text .Icon { width: 38%; float: left; }
.Banner_sec .rightside .Slider .text ul { list-style: none; margin: 0px; }
.Banner_sec .rightside .Slider .text li { float: left!important; padding: 0px 30px 0px 10px; margin: 0px; }
.Banner_sec .rightside .Slider .text li a { display: block; font-size: 14px; text-decoration: none; font-family: 'Open Sans', sans-serif; font-weight: 400; transition: all 0.3s ease;}
.Banner_sec .rightside .Slider .text li:last-child { padding: 0px; }
.Banner_sec .rightside .Slider .text li:hover a { color: #00aa00!important;}
.Banner_sec .rightside .Slider .text li a .fa { padding: 13px; margin-right: 10px; border-radius: 50px; border: solid 2px #fff; transition: all 0.3s ease; }
Banner_sec .rightside .Slider .text li:hover a .fa { background: #00aa00; border: solid 2px #00aa00; }
.Banner_sec .rightside .Slider .text li:last-child { padding-right: 0px; padding-left: 0px;}
.Banner_sec .rightside .Slider .text .Lorem { float: right; width: 31%; }
.Banner_sec .rightside .Slider .text .Lorem p { padding-top: 5px; font-size: 18px; margin: 0px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase; text-align: right; line-height: 19px; }
.Banner_sec .rightside .Slider .text .Lorem p span { font-size: 14px; text-align: right; display: block; text-transform: capitalize;}
.Banner_sec .rightside .prevBtn { width: 42px; height: 42px; display: block; text-indent: -9999px; background: url(../img/prev-arrow.png) no-repeat; position: absolute; top: 213px; left: 49px;  z-index: 1; opacity: 0.5; transition: opacity 0.3s ease; }
.Banner_sec .rightside .prevBtn:hover {  opacity: 1; }
.Banner_sec .rightside .nextBtn { width: 42px; height: 42px; display: block; text-indent: -9999px; background: url(../img/next-arrow.png) no-repeat; position: absolute; top: 213px; right: 47px;  z-index: 1; opacity: 0.5; transition: opacity 0.3s ease; }
.Banner_sec .rightside .nextBtn:hover { opacity: 1; }
.Banner_sec .rightside .Shadow { position: absolute; bottom: -3px; left: -25px; max-width: none; }

/* <<< bg color>>> */
.bgcolor {  height: 74px; width: 100%; background: rgba(249,250,251,1); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,250,251,1)), color-stop(0%, rgba(249,250,251,1)), color-stop(100%, rgba(225,228,231,1)));
	background: linear-gradient(to bottom, rgba(249,250,251,1) 0%, rgba(249,250,251,1) 0%, rgba(225,228,231,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafb', endColorstr='#e1e4e7', GradientType=0 ); }

.text-tech-gray { color: #343434; }

/* <<< Container >>> */
#Container { overflow: hidden; width: 100%; }

/* <<< About Section >>> */
.About_sec { padding: 115px 0px 88px 0px ; width: 100%; overflow: hidden; }
.About_sec .Center { max-width: 1100px; margin: auto; overflow: hidden; text-align: center; }
.About_sec h2 { font-size: 56px; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform: uppercase; line-height: 60px; letter-spacing: -0.4px; }
.About_sec p { padding: 24px 0px 35px 0px; font-size: 14px; margin: 0px; font-family: 'Open Sans', sans-serif; line-height: 25px; font-weight: 400; }
.About_sec .Line { border: solid 1px #00b008; height: 2px; width: 252px; margin: auto; }
.About_sec .Tabside { padding: 90px 0px; width: 100%;}
.About_sec .Tabside ul { list-style: none; margin: 0px; padding-bottom: 59px; }
.About_sec .Tabside li { float: none; padding: 0px; margin: 0px -2px; display: inline-block;}
.About_sec .Tabside li a { padding: 14px 40px 13px 40px; font-size: 18px; color: #989898; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none; text-transform: uppercase; border: solid 1px #d5d5d5; display: block; transition: all 0.3s ease; }
.About_sec .Tabside li a:hover, .About_sec .Tabside li a.activeLink { border: solid 1px #00b008; background: #00a000; color: #fff;}
.About_sec .Tabside .TabImage { width: 43.63%; float: left; position: relative; }
.About_sec .Tabside .TabImage .img1 { position: absolute; top: 0px; left: 42px; height: 200px; background: url(/img/about-shadow.png) no-repeat; background-position: 25px 223px; }
.About_sec .Tabside .TabImage .img1 img { padding: 5px; border: solid 1px #ececec; background: #fff;  }
.About_sec .Tabside .TabImage .img2 { position: absolute; top: 40px; left: 2px; height: 260px; background: url(/img/about-shadow.png) bottom center no-repeat; background-position: 0px 223px; }
.About_sec .Tabside .TabImage .img2 img { padding: 5px; border: solid 1px #ececec; background: #fff;  }
.About_sec .Tabside .Description { width: 100%; float: right; text-align: center; margin-top: -6px;}
.About_sec .Tabside .Description h3 { font-size: 24px; margin: 0px; text-transform: uppercase; font-family:'Open Sans'; line-height: 29px; }
.About_sec .Tabside .Description h3 span { padding-left: 3px; font-size: 14px; display: block; }
.About_sec .Tabside .Description p { padding: 21px 0px 4px 0px; font-size: 14px; color: #343434; margin: 0px; font-family:'Open Sans'; line-height: 25px; }
.About_sec .Tabside .Description p .cyan { font-size: 16px; color: #08c2ff; }
.hub { width: 60px; height: 60px }

/* <<< Contact Section >>> */
.Contact_sec { width: 100%; overflow: hidden; }
.Contact_sec .Contactside { background: url(../img/Contact-bg.jpg) top center no-repeat; background-size: cover; overflow: hidden;}
.Contact_sec .Center { padding: 115px 0px 77px 0px;  max-width: 1100px; margin: auto; overflow: hidden; text-align: center; }
.Contact_sec h2 { font-size: 57px; color: #fff; font-family: 'Oswald', sans-serif; font-weight: 400; margin: 0px; text-transform: uppercase; line-height: 60px;}
.Contact_sec p { padding: 24px 0px 35px 0px; font-size: 14px; color: #ebebeb; margin: 0px; font-family: 'Open Sans', sans-serif; line-height: 25px; font-weight: 400; }
.Contact_sec .Line { border: solid 1px #00b008; height: 2px; width: 252px; margin: auto; }
.Contact_sec .Pricingside { padding: 70px 0px 10px 0px; width: 100%; overflow: hidden; text-align: initial; }

.Left { text-align: left; }

/* <<< footer >>> */
footer { overflow: hidden; width: 100%; text-align: center; background: rgba(0, 0, 0, 0.6); background: url(/img/Get-bg.jpg
); }
footer .Cntr { padding:  28px 0px; max-width: 1100px; margin: auto;}
footer .Cntr p { padding: 0px; font-size: 13px; color: #a9abad; font-family:'Open Sans'; margin: 0px; }
footer .Cntr a { color: #a9abad; text-decoration: none; }
footer .Cntr a:hover { color: #fff; }
